.contact-shape1 {
    position: absolute;
    top: 5%;
    left: 0;
}

select,
.form-select,
.form-control {
    &.style3 {
        background-color: rgba($color: #fff, $alpha: 0.1);
        border: none;
        color: $white-color;
        @include inputPlaceholder {
            color: $white-color;
        }
    }
}

.form-style2 {
    position: relative;
    z-index: 2;
    textarea {
        height: 200px;
    }
}