.bg-black2 {
    background-color: #171A21;
}

[data-overlay="black2"]:before {
    background-color: #171A21;
}
.icon-btn {
    &.style5 {
        background-color: #6C6C6C;
        color: $white-color;
        font-size: 18px;
        &:hover {
            background-color: $theme-color;
        }
    }
}


.fs-16 {
    font-size: 16px;
}

.vs-social {
    a {
        display: inline-block;
        @include equal-size(var(--icon-size, 50px));
        line-height: var(--icon-size, 50px);
        background-color: $white-color;
        color: $theme-color;
        font-size: 18px;
        text-align: center;
        margin-right: 5px;
        border-radius: 50%;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $theme-color;
            color: $white-color;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .vs-container {
        --main-container: 1530px;
    }
}

.mockup-box1 {
    &-area {
        position: relative;
        .mockup-img {
            position: absolute;
            right: 190px;
            bottom: 0;
            z-index: 2;
            &:before {
                content: '';
                width: 140px;
                height: 140px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: transparent;
                box-shadow: 0px 50px 200px 0 $theme-color;
                opacity: 0.7;
                z-index: -1;
            }
        }
    }
    background-color: rgba($color: #fff, $alpha: 0.1);
    padding: 75px;
    border-radius: 20px;
    position: relative;
    margin-top: 120px;
} 

@media (max-width: 1299px) {
    .mockup-box1 {
        &-area {
            .mockup-img {
                right: 40px;
            }
        }
    }
}

@include lg {
    .mockup-box1 {
        padding: 50px;
    }
}
@include md {
    .mockup-box1 {
        margin-top: -200px;
        padding-top: 250px;
        &-area {
            .mockup-img {
                position: relative;
                display: inline-block;
                right: 20px;
            }
        }
    }
}
@include sm {
    .mockup-box1 {
        &-area {
            .mockup-img {
                &:before {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        padding: 20px;
        border-radius: 10px;
        margin-top: -200px;
        padding-top: 230px;
    }
}