.vs-hero-bg {
    position: absolute;
    inset: 0;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.hero-style7 {
    padding: 350px 0 175px 0;
    .sub-title {
        margin-bottom: 10px;
    }
    .hero-title {
        font-size: 100px;
        line-height: 1.1;
        margin-bottom: 0;
        color: $white-color;
        &:last-of-type {
            margin-bottom: 25px;
        }
    }
}

@include ml {
    .hero-style7 {
        .hero-title {
            font-size: 82px;
        }
    }
}

@include lg {
    .hero-style7 {
        padding: 310px 0px 135px;
        .hero-title {
            font-size: 72px;
        }
    }
}

@include md {
    .hero-style7 {
        padding: 210px 0px 100px;
        .hero-title {
            font-size: 60px;
        }
    }
}

@include sm {
    .hero-style7 .hero-title {
        font-size: 52px;
    }
}

@media (max-width: 450px) {
    .hero-style7 .hero-title {
        font-size: 44px;
    }
}

@media (max-width: 375px) {
    .hero-style7 .hero-title {
        font-size: 36px;
    }
}