blockquote {
  padding: 50px 60px 50px 60px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: $dark-color;
  margin: 35px 0;
  border-left: 5px solid $theme-color2;
  
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    font-family: $title-font;
    color: $white-color;
    position: relative;
    z-index: 2;
  }
  
  p {
    margin-bottom: 10px;

    a {
      color: inherit;
    }
  }

  cite {
    font-size: 24px;
    font-weight: 400;
    color: $theme-color2;
    font-family: $title-font;
    line-height: 1;
    font-style: normal;
  }
}

.blog-meta {
  span,
  a {
    display: inline-block;
    font-size: 16px;
    color: $theme-color2;
    font-family: $title-font;
    text-transform: uppercase;
    position: relative;
    padding-right: 15px;
    margin-right: 12px;
    

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      height: 12px;
      margin-top: -6px;
      width: 1px;
      background-color: currentColor;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &:before {
        display: none;
      }
    }

    &:hover {
      color: $theme-color;
    }

    i {
      margin-right: 10px;
      font-size: 0.8em;
      color: $theme-color2;
    }
  }
}


.blog-category {
  margin-bottom: -10px;

  a {
    display: inline-block;
    color: #fff;
    padding: 4.5px 24.5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: $theme-color;

    &:hover {
      background-color: $white-color;
      color: $body-color;
      border-color: $theme-color;
    }
  }
}

.blog-title {
  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }
}

.vs-blog {
  margin-bottom: 30px;
}

.blog-inner-title {
  margin-bottom: 40px;
  margin-top: -0.25em;
  padding-bottom: 17px;
  position: relative;
  color: $white-color;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 2px;
    background-color: $theme-color2;
  }

  &.style2 {
    color: $title-color;
    margin-bottom: 20px;
  }
}

.blog-author {
  padding: 40px;
  margin: var(--blog-space-y, 60px) var(--blog-space-x, 60px);
  // border: 1px solid #3A3A3A;
  position: relative;
  background-color: #262525;

  .author-degi {
    margin-bottom: 0px;
    color: $theme-color2;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    font-family: $title-font;
  }

  .media-img {
    display: inline-block;
    margin-right: 25px;
    overflow: hidden;
    border-radius: 50%;

    img {
      border-radius: inherit;
    }
  }

  .author-name {
    margin-bottom: 10px;
  }
}

.share-links-title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
  font-family: $title-font;
  font-weight: 400;
  color: $theme-color2;
  margin: -0.3em 10px 0 0;
}

.share-links {  
  border-top: 1px solid #3A3A3A;
  border-bottom: 1px solid #3A3A3A;
  padding: 30px 0;
  margin: var(--blog-space-y, 40px) var(--blog-space-x, 60px) var(--blog-space-y, 60px) var(--blog-space-x, 60px);
  
  
  .multi-social,
  .tagcloud {
    display: inline-block;
  }

  .tagcloud {    
    a {
      color: $white-color;

      &:hover {
        color: $theme-color;
      }

      &:not(:last-child):after {
        content: ',';
        position: relative;
        margin-right: 3px;
      }
    }
  }
}

.blog-single {
  position: relative; 
  background-color: $title-color;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white-color;
  }

  &,
  p {
    color: #c3c3c3;
  }

  blockquote {
    p {
      color: $white-color;
    }
  }
  
  .blog-content {
    padding: 0 var(--blog-space-x, 60px) var(--blog-space-y, 60px) var(--blog-space-x, 60px);
    margin: var(--blog-space-y, 60px) 0;
    position: relative;
    overflow: hidden;
  }

  .social-links {
    margin-top: -0.05em;
  }

  .blog-meta {
    margin-bottom: 10px;
    margin-top: -0.45em;
  }

  .blog-title {
    line-height: 1.4;
    padding-bottom: 13px;
    margin-bottom: 17px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100px;
      background-color: $theme-color2;
    }
  }

  .blog-audio {
    line-height: 0;
  }

  .link-btn {
    margin-bottom: -0.2em;
    display: block;
    width: max-content;
  }

  .blog-img {
    position: relative;
    background-color: #282828;

    .slick-arrow {
      position: absolute;
      left: 40px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      --title-color: #fff;

      &.slick-next {
        left: auto;
        right: 40px;
      }

    }

    .play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    .blog-img {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.blog-details {
  .blog-content {
    margin-bottom: calc(var(--blog-space-y, 60px) - 10px);
    padding-bottom: 0;
  }

  .blog-single {
    padding-bottom: var(--blog-space-y, 60px);
    margin-bottom: 30px;
  }
}

.blog-card {
  text-align: center;

  .blog-img {
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    img {
      transition: all ease 0.4s;
      transform: scale(1);
    }
  }

  .blog-meta {
    margin-bottom: 15px;
  }
  
  .blog-title {
    color: $white-color;
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      width: 80px;
      margin-left: -40px;
      bottom: 0;
      background-color: $theme-color2;
      height: 2px;
    }
  }

  .blog-content {
    background-color: $title-color;
    background-color: $title-color;
    padding: 27px 20px 26px 20px;
    border-radius: 10px;
    margin-top: -10px;
    position: relative;
    z-index: 1;
  }


  &:hover {
    .blog-img {
      img {
        transform: scale(1.15);
      }
    }
  }
}

.blog-box {
  
  .blog-img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 23px;
    align-self: auto;
    background-color: transparent;

    img {
      width: 100%;
      transition: all ease 0.4s;
      transform: scale(1) rotate(0);
    }
  }

  .blog-meta {
    margin-bottom: 10px;
  }

  .blog-title {
    color: $white-color;
    padding-bottom: 20px;
    margin-bottom: 17px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: $theme-color2;
    }
  }

  .blog-text {
    color: $white-color;
  }

  &:hover {
    .blog-img {
      img {
        transform: scale(1.3) rotate(5deg);
      }
    }
  }

  &.list-style {
    display: flex;
    align-items: center;

    .blog-img {
      margin-right: 30px;
      margin-bottom: 0;
    }

    .blog-content {
      flex: 1;
    }
  }


  &.layout2 {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 30px;
    }
    
    .blog-meta {
      a {
        color: $body-color;

        i {
          color: inherit;
        }

        &:hover {
          color: $theme-color;
        }
      }
    }

    .blog-title {
      color: $title-color;
    }

    .blog-text {
      color: $body-color;
    }

    .link-btn {
      color: $title-color;
    }
  }
}

.blog-coverd {
  position: relative;
  margin-bottom: 10px;

  .blog-category {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 3;

    a {
      font-size: 16px;
      font-weight: 400;
      font-family: $title-font;
      border-radius: 7px;
      line-height: 1;
      padding: 6px 16px;
    }
  }
  
  .blog-img {
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, $title-color 0%, rgba(#fff, 0) 100%);
      z-index: 2;
      opacity: 0.85;
    }

    img {
      width: 100%;
      transform: scale(1);
      transition: all ease 0.4s;
    }

    .play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }

  .blog-content {
    position: absolute;
    left: 40px;
    bottom: 10px;
    z-index: 3;
  }

  .blog-title {
    color: $white-color;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 23px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 80px;
      background-color: $theme-color2;
    }
  }

  .blog-meta {
    margin-bottom: 5px;
  }


  &.style2 {
    .blog-content {
      bottom: 0;
      left: 30px;
    }
    
    .blog-meta {
      a {
        font-size: 14px;
      }
    }

    .blog-title {
      padding-bottom: 0;
      margin-bottom: 23px;
      font-size: 24px;

      &:after {
        display: none;
      }
    }
  }


  &:hover {
    .blog-img {
      img {
        transform: scale(1.12);
      }
    }
  }

}

.blog-media {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .blog-content {
    flex: 1;
  }

  .blog-img {
    margin-right: 15px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    .play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      --icon-size: 45px;

      i {
        font-size: 1.3em;
      }
    }
  }

  .blog-meta {
    margin-top: -0.1em;

    a {
      font-size: 14px;
      color: $body-color;

      i {
        color: inherit;
      }

      &:hover {
        color: $theme-color;
      }
    }
  }

  .blog-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
  }

  &.style2 {
    .blog-meta {
      a {
        color: $theme-color2;

        &:hover {
          color: $theme-color;
        }
      }
    }

    .blog-title {
      color: $white-color;
    }
  }
}

.blog-grid {


  .blog-img {
    overflow: hidden;
    border-radius: 10px;
    
    img {
      width: 100%;
      transition: all ease 0.4s;
      transform: scale(1);
    }
  }

  .blog-content {
    background-color: $title-color;
    text-align: center;
    border-radius: 10px;
    margin-top: -15px;
    position: relative;
    padding: 32px 30px 30px 30px;
  }

  .blog-meta {
    margin-bottom: 5px;
  }

  .blog-text {
    color: $white-light-color;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 18px;
    font-size: 14px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2px;
      width: 80px;
      background-color: $theme-color2;
      margin-left: -40px;
    }
  }
  
  .blog-title {
    color: $white-color;
    margin-bottom: 7px;
  }

}

.blog-small-grid {  
  .blog-meta {
    margin-bottom: 5px;
    
    a {
      color: $body-color;

      i {
        color: inherit;
      }
    }
  }

  .blog-img {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;

    img {
      width: 100%;
      transition: all ease 0.4s;
    }
  }

  .blog-title {
    margin-bottom: 3px;
  }
  
  .blog-text {
    margin-bottom: 0;
  }
}


.blog-style1 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: $theme-color2;
    transition: all ease 0.4s;
    border-radius: 10px;
  }

  .blog-title {
    color: $white-color;
    line-height: 34px;
    font-size: 24px;    
    text-transform: uppercase;
  }

  .blog-meta  {
    span:before,
    a:before {
      background-color: #42304a;
    }
  }

  .link-btn {
    text-transform: uppercase;
    font-weight: 700;
    color: $theme-color2;

    &:before {
      background-color: $theme-color2;
    }
  }

  .blog-content {
    padding: 32px 40px 31px 40px;
    background-color: #1c1121;
    position: relative;
    z-index: 2;
    border-radius: 0 0 10px 10px;
  }

  .blog-img {
    position: relative;
    z-index: 2;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin: 0 0 -2px 0;
  }

  
}


.slick-center .blog-style1,
.blog-style1:hover {
  &:before {
    bottom: -5px;
  }
}


@include xl {
  .blog-media {
    .blog-img {
      position: relative;
      max-width: 100px;
    }
  }

  .blog-coverd {
    &.style2 {
      .blog-title {
        font-size: 20px;
      }
    }
  }

  .blog-grid {
    .blog-title {
      font-size: 26px;
    }
    .blog-text {
      font-size: 12px;
    }
  }

  .blog-media {
    .blog-img {
      .play-btn {
        --icon-size: 35px;
      }
    }
  }
}

@include ml {
  .blog-box {
    &.list-style {
      display: block;

      .blog-img {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 40px;
  }
}

@include lg {
  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 30px;
  }

  blockquote {
    padding: 30px 30px 30px 30px;
    
    p {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 5px;
    }

    cite {
      font-size: 16px;
      margin-top: 5px;
    }
  }

  .blog-author {
    padding: 25px 30px;

    .media-img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
  } 

  .share-links-title {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .blog-media {
    .blog-img {
      max-width: 100%;
    }
  }
}

@include md {
  blockquote {
    font-size: 20px;
    line-height: 34px;
    padding: 30px 40px 30px 40px;

    cite {
      font-size: 16px;
      margin-top: 20px;
    }

    &:before {
      right: 20px;
      bottom: 20px;
      font-size: 4rem;
    }
  }

  .blog-coverd {
    .blog-content {
      left: 30px;
      bottom: 0;
    }

    .blog-title {
      margin-bottom: 23px;
      padding-bottom: 16px;
    }
  }

  .blog-media .blog-meta a {
    font-size: 12px;
  }

  .blog-style1 {
    .blog-meta {
      margin-bottom: 10px;
    }
    
    .blog-content {
      padding: 31px 25px 33px 25px;
    }

    .blog-title {
      line-height: 28px;
      font-size: 24px;
    }
  }
}


@include sm {
  .blog-meta {
    span,
    a {
      font-size: 14px;
    }
  }

  .blog-single {
    --blog-space-y: 30px;
    --blog-space-x: 20px;
  }

  blockquote {
    padding: 30px 20px 30px 20px;
  }

  .blog-card {
    .blog-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .blog-meta {
      margin-bottom: 7px;
    }
  }

  .blog-author {
    padding: 25px 15px;
  }

  .blog-coverd {
    .blog-content {
      left: 20px;
      bottom: 0;
    }

    &.style2 {
      .blog-content {
        bottom: 0;
        left: 20px;
      }
    }
  }

  .blog-media {
    display: block;

    .blog-img {
      margin-bottom: 10px;
      margin-right: 0;
      border-radius: 0;
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }


  .blog-coverd .blog-img .play-btn {
    left: auto;
    right: 10px;
    top: 10px;
    transform: translate(0, 0);

    i {
      --icon-size: 40px;
      font-size: 1.3em;
    }
  }
  

  
}