.cta-box {
  background-color: $white-color;
  padding: 0 80px;
  border: 1px solid #E2EEF1;
  border-radius: 20px;

  &__title {
    font-size: 46px;
    line-height: 59px;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    max-width: 650px;
    margin-bottom: 20px;
    color: #154D59;
  }

  &__img {
    text-align: right;
    margin: -20px 0 0 0;
  }

}


@include xl {
  .cta-box {
    padding: 0 60px;

    &__title {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 16px;
      line-height: 28px;
      max-width: 650px;
      margin-bottom: 20px;
    }
  }
}


@include lg {
  .cta-box {
    text-align: center;
    padding-bottom: 40px;
    
    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 8px;
    }

    &__img {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}


@include sm {
  .cta-box {
    padding-bottom: 40px;
    padding: 40px 20px;

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__text {
      font-size: 14px;
      line-height: 26px;
    }
  }

}